*{
    box-sizing: border-box;
}
body{
    background-color: #FDFBF8;
}
.dnone{
    display: none;
}
.searchbar{
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}
.serchbar-input{
    width:80vw;
    height: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 0.7em;
    border: 1px solid black
}

.items{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.previewcard{
    margin: 0.2rem;
    width:45%;
    height: 12rem;
    border: 1px solid black;
    border-radius: 0.7em
}
.previewcard div{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.5rem; 
}
.previewcard img{
    width:100%;
    object-fit: cover;
    object-position: bottom;
    height: 50%;
}
.select-wrap 
{
    border: 1px solid #303030;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 5px 5px;
    width:100px;
    background-color:#fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width:90%;
    white-space:nowrap;
}

.select-wrap label
{
    font-size:10px;
    text-transform:capitalize;
    color: #303030;
    margin: 0;
    padding: 0.2rem;}
.select-wrap :-webkit-any(input,textarea,select)
{
    background-color: #fff;
    border:0px;
    width: 100%;
    }
.select-wrap:-moz-any(input,textarea,select){
    background-color: #fff;
    color:#303030;
    border:0px;
    width: 100%;
}

.addItem>form>input{
    width:80%;
    background-color: #fff;
    color:#303030;
    border: 1px solid #303030;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
}
.addItem>form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.addItem header{
    text-align: center;
}
.addItem button{
    background-color: #FDFBF8;
    border: none;
}